*{
    margin: 0px;
    padding: 0px;
   box-sizing:border-box;
   font-family: sans-serif;
}

.navbar{
display: flex;
justify-content: space-between;
align-items: center;
background-color: #5781de;
padding: 20px 50px;
position: relative;
}
.logo{
    font-size: 30px;
    color: #fff;
    font-weight: bold;
}

.toggle-button{
    display:none;
    flex-direction: column;
    cursor: pointer;
}
.toggle-button .bar{
    width: 35px;
    height: 4px;
    border-radius: 5px;
    background-color: #fff;
    margin:  3px 0px;
}
.nav-link{
list-style-type: none;
display: flex;

}

.nav-link li{
margin-right:25px;
}
.nav-link li a{
    font-size: 17px;
    color: #fff;
    text-decoration: none;
    transition: 0.4s ease;
}
.nav-link li a:hover{
    color: #1f376b;

}
.nav-link li a i{
    margin-right: 5px;
}

@media screen and (max-width: 768px){

    .navbar{
        padding: 20px 25px;
    }

    .toggle-button{
        display: flex;

    }
    .nav-link{
        display: none;
        flex-direction: column;
        position: absolute;
        width: 100%;
        background-color: #5472b3;
        padding: 25px;
        top:100%;
        left:0;
    }
    .nav-link li{
        padding: 12px 0px;
    }

    .nav-link.active{
        display: block;
    }
}